<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta name="google-signin-client_id" content="983030382510-41cact207f2o56qom6olv7tcmii6dec0.apps.googleusercontent.com">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 <script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="ejs.js"></script>

<script>
//讀取文章後傳入article.ejs
var read = function(){
ress={};
var xhttp = new XMLHttpRequest();
xhttp.open('POST', '/articleData');
xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
xhttp.onreadystatechange = function() {
if (xhttp.readyState == 4 && xhttp.status == 200) {
  console.log(xhttp.responseText); 
 ress = JSON.parse(xhttp.responseText);
 
  
}}
xhttp.send();
}; 

read();

function articleFragment() {
  document.getElementById('post').innerHTML =  new EJS({url:'article.ejs'}).render({res:ress});
//在div內的script不會執行，所以手動讓他執行
MyDiv = document.getElementById('post')
var arr = MyDiv.getElementsByTagName('script')
for (var n = 0; n < arr.length; n++)
    eval(arr[n].innerHTML)

};

function postFragment() {document.getElementById('post').innerHTML =  new EJS({url:'post.ejs'}).render();
//在div內的script不會執行，所以手動讓他執行
MyDiv = document.getElementById('post')
var arr = MyDiv.getElementsByTagName('script')
for (var n = 0; n < arr.length; n++)
    eval(arr[n].innerHTML)

};
</script>

  <script>




$(document).ready(function(){
$("#signout").hide();
$("#user").hide();

read();


});
function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  var imgUrl = profile.getImageUrl();
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail());
   var id_token = googleUser.getAuthResponse().id_token;
   console.log(id_token);
   getToken = (function(i){return  i})(id_token)//讓idtoken只可讀，不可改
   $("#userimg").attr("src",imgUrl);
   $("#signinblock").hide();
   $("#signout"). show();
   $("#user").show();

    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/signin');
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
      console.log('Signed in as: ' + xhr.responseText);
    };
    xhr.send('idtoken=' + id_token);//google回傳的id_token會隨時間改變(定時更改)
};
 function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
    $("#signinblock").show();
    $("#signout").hide();
    $("#user").hide();

    $.post("signOut", function(){});//為了將isLogin置為false所以傳入空的post
  };
  </script>

</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="#">Home</a></li>
      <li><a onclick="postFragment()">發表文章</a></li>
      <li><a onclick="articleFragment();">顯示文章</a></li>
      <li><a href="#">Page 3</a></li>

    </ul>


    <ul class="nav navbar-nav navbar-right">
  <li id="user"><img style="height:50px" id="userimg"></img></li>
    

         <div id="signinblock">
         
         <li id="google"><div class="g-signin2" data-onsuccess="onSignIn"></div></li>
         </div>

       <li id="signout"><a href="#" onclick="signOut();">Sign out</a></li>
     

    </li>
    
  </ul>

  </div>
</nav>
  
<div id="post" class="container">

  
</div>

<script>


</script>

</body>
</html>
